#server:
#  port: 8080
#
#spring:
#  application:
#    name: api-gateway
#
#  cloud:
#    gateway:
#      routes:
#        - id: order-service
#          uri: lb://order-service
#          predicates:
#            - Path=/api/order/**
#        - id: auth-service
#          uri: lb://auth-service
#          predicates:
#            - Path=/api/auth/**
#
#          filters:
#            - StripPrefix=1
#            - name: RequestRateLimiter
#              args:
#                key-resolver: "#{@customerKeyResolver}"
#                rate-limiter: "#{@minuteRateLimiter}"
#
#      default-filters:
#        - name: DedupeResponseHeader
#          args:
#            Access-Control-Allow-Origin: RETAIN_UNIQUE
#
#    discovery:
#      locator:
#        enabled: true
#        lower-case-service-id: true
#
#logging:
#  level:
#    org.springframework.cloud.gateway: DEBUG
#    org.springframework.data.redis: DEBUG
#
#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka


server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: api-gateway

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}

  cloud:
    gateway:
      routes:
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**
          filters:
            - StripPrefix=1
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
          filters:
            - StripPrefix=1
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

      default-filters:
        - name: DedupeResponseHeader
          args:
            Access-Control-Allow-Origin: RETAIN_UNIQUE

    discovery:
      locator:
        enabled: true
        lower-case-service-id: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.data.redis: DEBUG

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTAuthenticationThatShouldBeAtLeast256BitsLongForHS512Algorithm}
  access-token-expiration-ms: ${JWT_ACCESS_TOKEN_EXPIRATION:900000} # 15 minutes
  refresh-token-expiration-ms: ${JWT_REFRESH_TOKEN_EXPIRATION:604800000} # 7 days

rate-limit:
  requests-per-minute: ${RATE_LIMIT_REQUESTS_PER_MINUTE:10} # 60 requests per minute per user
  window-seconds: ${RATE_LIMIT_WINDOW_SECONDS:60} # 1 minute window
